VITE_BACKEND_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID_HERE/exec

# cPanel deploy (scripts/deploy-cpanel.js)
CPANEL_URL=https://tudominio.com:2083
CPANEL_USER=tu_usuario_cpanel
CPANEL_PASSWORD=tu_password_cpanel
